---
import Layout from '@/layouts/Layout.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import ContentLayout from '@/layouts/ContentLayout.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title='Blog' lang={lang}>
  <ContentLayout>
    <p>404 Not Found</p>
  </ContentLayout>
</Layout>
