---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import Typography from '@/components/ui/Typography.astro'
import ExternalLinkIcon from '@/components/icons/ExternalLink.astro'
import GithubIcon from '../icons/Github.astro'
import Pill from '@/components/ui/Pill.astro'
import Project from '../ui/Project.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface Project {
  name: string
  description: string
  image: string
  link: string
  github: string
  technologies: string[]
}

const projects = t('projects.list') as Project[]
---

<section class='flex flex-col gap-6'>
  <Typography as='h2' variant='h3' color='black'>
    {t('projects.title')}
  </Typography>
  {
    projects.map((project, index) => (
      <Project
        imagePosition={index % 2 === 0 ? 'right' : 'left'}
        project={project}
      />
    ))
  }
</section>
