---
import MoonIcon from '@/components/icons/Moon.astro'
import SunIcon from '@/components/icons/Sun.astro'
---

<button
  id='theme-button'
  class='p-1 rounded-md text-gray-800 dark:text-gray-100 border-2 border-gray-800 dark:border-gray-100 hover:bg-gray-800 dark:hover:bg-gray-100 hover:text-gray-100 dark:hover:text-gray-800 transition-all'
  transition:persist
  aria-label='Toggle dark/light mode'
>
  <MoonIcon size={16} id='dark-icon' />
  <SunIcon size={16} id='light-icon' />
</button>

<script>
  const button = document.getElementById('theme-button')
  const darkIcon = document.getElementById('dark-icon')
  const lightIcon = document.getElementById('light-icon')
  const hotkeypad = document.getElementById('hotkeypad')

  const theme = localStorage.getItem('theme')

  if (lightIcon && darkIcon && hotkeypad && button) {
    if (theme === 'dark') {
      document.documentElement.classList.add('dark')
      if (darkIcon) {
        darkIcon.style.display = 'block'
      }
      lightIcon.style.display = 'none'
      hotkeypad.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
      darkIcon.style.display = 'none'
      lightIcon.style.display = 'block'
      hotkeypad.classList.remove('dark')
    }
    button.addEventListener('click', changeTheme)
  }

  function changeTheme() {
    if (lightIcon && darkIcon && hotkeypad) {
      if (localStorage.theme === 'light') {
        document.documentElement.classList.add('dark')
        localStorage.theme = 'dark'
        darkIcon.style.display = 'block'
        lightIcon.style.display = 'none'
        hotkeypad.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
        localStorage.theme = 'light'
        darkIcon.style.display = 'none'
        lightIcon.style.display = 'block'
        hotkeypad.classList.remove('dark')
      }
    }
  }
</script>
