---
import ViewTransitions from 'astro/components/ViewTransitions.astro'
import Nav from '@/components/navbar/Nav.astro'

interface Props {
  title: string
  lang: string
}

const { title, lang } = Astro.props
---

<!doctype html>
<html lang={lang ?? 'es'} class='overflow-y-scroll'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body
    class='antialiased bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-200 font-mono'
  >
    <Nav />
    <slot />
    <script is:inline>
      function setTheme() {
        if (localStorage.theme === 'dark') {
          document.documentElement.classList.add('dark')
          localStorage.theme = 'dark'
        } else if (localStorage.theme === 'light') {
          document.documentElement.classList.remove('dark')
          localStorage.theme = 'light'
        } else {
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.classList.add('dark')
            localStorage.theme = 'dark'
          } else {
            document.documentElement.classList.remove('dark')
            localStorage.theme = 'light'
          }
        }
      }

      setTheme()
      document.addEventListener('astro:after-swap', () => {
        setTheme()
      })
    </script>
  </body>
</html>
