<div
  class={`
    px-2 py-1 
    rounded-md 
    flex justify-center items-center 
    border-2 border-gray-800 dark:border-gray-100
    bg-gray-100 dark:bg-gray-800 hover:bg-gray-800 hover:dark:bg-gray-100 hover:text-gray-100 hover:dark:text-gray-800 
    transition-all 
    text-xs
    shadow-borderBlack dark:shadow-borderWhite`}
>
  <slot />
</div>
